
body{
    text-align: center;
}

#checkBox{
    margin: 80px ;
    display: flex;
    justify-content: center;
}

#derrota{
    color: red;
}

div > div{
    border: solid black 1px ;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 5px;
}

.marcado{
    background-color: rgb(255, 0, 0);
    border: none;
}

#checkBox> input {
    width: 20px;  
    height: 20px;
  }

#textBox > input {
    width: 30px;  
    height: 30px;
    font-size: larger;
    margin:5px;
    text-align: center;
    border: none;
    outline: none;
    border-bottom: solid 2px black;
  }